
body {margin: 0; font-family: Arial, Helvetica, sans-serif;}
.navigation {
    overflow: hidden;
    background-color: #333;
}
.navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navigation a:hover{
    background-color: rgb(26, 97, 114);
    color: #fff;
}
.navigation a.active {
  background-color: #04AA6D;
  color: white;
}
.navigation .icon {display: none;}
/*===============media screen====================*/
@media screen and (max-width: 600px) {
  .navigation a:not(:first-child) {display: none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navigation.responsive {position: relative;}
  .navigation.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

